* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(35, 36, 36) !important; 
    color: white !important;
}


.home-content h1 {
    font-size: 30px; 
    color: white; 
    margin-bottom: 8px; 
}

.home-content h3 {
    color: #ffcc00; 
}

.home .d-flex a {
    font-size: 32px;
    color: white !important; 
    transition: color 0.5s ease;
}

.home .d-flex a:hover {
    color:#ffcc00 !important; 
}

.btn-outline-warning {
    border-color: #ffcc00 !important; 
    color: #ffcc00 !important;
}

.btn-outline-warning:hover {
    background-color: #ffcc00 !important;
    color: rgb(21, 24, 24) !important;
}


.home-img img {
    /* propridades para deixar a imagem em circulo */
    width: 300px !important; 
    height: 300px !important;
    border-radius: 50% !important;
    object-fit: cover !important; 
    overflow: hidden !important;
    box-shadow: 0 10px 25px  rgba(255, 204, 0, 0.3) !important;
    transform: translateX(-1px) !important;
    margin-top: 2rem !important;
}

.skills { 
    color: #fff;
}

.skills h2, .process h2 {
    font-size: 2.2rem;
    color: #ffcc00; 
    margin-bottom: 10px;
}

.skills-subtitle, .process-subtitle {
    color: #ccc;
    font-size: 1.1rem;
}

.card { 
    
    background-color: #2b3035 !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover { 
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3) !important;
}

.skill-icon, .process-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
    display: block;
}

.card h3 {
    font-size: 1.3rem;
    color:  #dc3545 !important; 
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #ddd !important;
    line-height: 1.5;
}

.process .card {
    background-color: #2b3035 !important;
    border-radius: 15px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffcc00;
}